<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- bootstrap links -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- end of boostrap links -->
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<div class="text-left">
				<span class="navbar-text">Add a picture</span>
			</div>
			<a class="" style="float: right;" href="/dashboard">Back</a>
			<a class="" style="float: right;" href="/logout">Logout</a>
		</nav>
		<div class="container">
			<div class="row">
				<!-- flash messages -->
				<div class="text-center">
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags == "success" %}
								style="color: {{ "green" }}; list-style-type: none;"
							{% else %}
								style="color: {{ "red" }}; list-style-type: none;"
							{% endif %}>{{ message }}
						</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<form class="form" action="#" method="post">
					{% csrf_token %}
					<div class="input-group mb-3">
					  <div class="custom-file">
					    <input type="file" class="custom-file-input" id="inputGroupFile02">
					    <label class="custom-file-label" for="inputGroupFile02">Choose file(10MB limit)</label>
					  </div>
					  <div class="input-group-append">
					    <span class="input-group-text" id="">Upload</span>
					  </div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="form_job_title">Name:</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="form_job_title" value="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="form_job_description">Description:</label>
						<div class="col-sm-9">
							<textarea class="form-control" name="form_job_description" rows="4"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="form_job_location">Latitude:</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="form_job_location" value="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="form_job_location">Longitude:</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="form_job_location" value="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="form_job_location">Type:</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="form_job_location" value="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label" for="form_job_location">Add to Album:</label>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="photo1">
						  <label class="form-check-label" for="inlineCheckbox1">1</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="photo2">
						  <label class="form-check-label" for="inlineCheckbox2">2</label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="photo3">
						  <label class="form-check-label" for="inlineCheckbox3">3</label>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-outline-primary" type="submit" name="button">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
