<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style media="screen">
			*{border: 1px white solid;}
			nav *{display: inline-block;}
			aside{width:200px; display:inline-block; vertical-align: top; text-align: center;}
			aside a{display: block; margin-bottom: 15px;}
			main{width:500px; text-align: center; display:inline-block; border-radius: 50px;}
		</style>
	</head>
	<body>
		<nav>
			<h1>Nomad Albums</h1>
				<h3>Add Album</h3>
				<h3>Add Photo</h3>
				<h3>Logout</h3>
		</nav>
		<aside class="">
			<h3>Album names</h3>
			<a href="#">Thailand</a>
			<a href="#">Japan</a>
			<a href="#">Scuba</a>
			<a href="#">Skydiving</a>
			<a href="#">Surfing</a>
			<a href="#">Volunteering</a>
		</aside>
		<main class="world_map">
			<img src="../static/img/globe.gif" alt="globe" width="75%">
		</main>
	</body>
</html>
